.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.paheHeaderMenuTextDark:global(.__wab_instance) {
  position: relative;
}
.section__acXiu {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__acXiu {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-column-gap: 0px;
    padding: 32px;
    border-top: 1px solid #e5e5ea;
  }
}
.columns__eIq {
  flex-direction: row;
  max-width: 1380px;
  display: flex;
  width: 100%;
  position: relative;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__eIq > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__eIq > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__eIq > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__eIq > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__eIq > :global(.__wab_flex-container) > *,
.columns__eIq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__eIq > :global(.__wab_flex-container) > picture > img,
.columns__eIq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eIq {
    max-width: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    height: auto;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eIq > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eIq > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eIq > :global(.__wab_flex-container) > *,
  .columns__eIq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__eIq > :global(.__wab_flex-container) > picture > img,
  .columns__eIq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column__wks2I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  border: 1px none #000000;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wks2I {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.columns__ziMcR {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ziMcR > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 9 / 12);
}
.columns__ziMcR > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ziMcR {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ziMcR > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__eeU2P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h4___3XV3D {
  color: var(--token-eNptFkwdGsioeK);
}
.freeBox___106N {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__sNi8T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.freeBox___1TUu1 {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___1TUu1 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox___1TUu1 > :global(.__wab_flex-container) > *,
.freeBox___1TUu1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1TUu1 > :global(.__wab_flex-container) > picture > img,
.freeBox___1TUu1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.h4__lvj7S {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  min-width: 0;
}
.h4__mCJt {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  min-width: 0;
}
.h4__lSLn {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  min-width: 0;
}
.column__mRpHw {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__mRpHw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__mRpHw > :global(.__wab_flex-container) > *,
.column__mRpHw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__mRpHw > :global(.__wab_flex-container) > picture > img,
.column__mRpHw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__tOkfx {
  position: relative;
  object-fit: cover;
  max-width: 70px;
  height: 100%;
  width: 100%;
  max-height: 70px;
  min-width: 0;
  min-height: 0;
  border: 2px solid #000000;
}
.img__tOkfx > picture > img {
  object-fit: cover;
}
.img__tOkfx > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__cstTt {
  position: relative;
  object-fit: cover;
  max-width: 70px;
  height: 100%;
  width: 100%;
  max-height: 70px;
  min-width: 0;
  min-height: 0;
}
.img__cstTt > picture > img {
  object-fit: cover;
}
.img__cstTt > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__etA0 {
  position: relative;
  object-fit: cover;
  max-width: 70px;
  height: 100%;
  width: 100%;
  max-height: 70px;
  min-width: 0;
  min-height: 0;
}
.img__etA0 > picture > img {
  object-fit: cover;
}
.img__etA0 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__n1WD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__iS2U2 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__iS2U2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__iS2U2 > :global(.__wab_flex-container) > *,
.freeBox__iS2U2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iS2U2 > :global(.__wab_flex-container) > picture > img,
.freeBox__iS2U2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__ebVqt {
  object-fit: cover;
}
.img__ebVqt > picture > img {
  object-fit: cover;
}
.img__ebVqt > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ebVqt {
    width: 100%;
    height: var(--token-aNKCpOfwV38Rsi);
    max-width: 100%;
    padding-bottom: 0px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.freeBox__yMapl {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__yMapl > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yMapl > :global(.__wab_flex-container) > *,
.freeBox__yMapl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yMapl > :global(.__wab_flex-container) > picture > img,
.freeBox__yMapl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
.freeBox__fL6Ff {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img__y9Bt {
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.img__y9Bt > picture > img {
  object-fit: cover;
}
.img__y9Bt > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__y9Bt {
    width: 100%;
    height: var(--token-aNKCpOfwV38Rsi);
    max-width: 100%;
    padding-bottom: 0px;
    min-width: 0;
  }
}
.freeBox__tvy55 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.img___3Aijm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img___3Aijm > picture > img {
  object-fit: cover;
}
.img___3Aijm > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___3Aijm {
    width: 100%;
    height: var(--token-aNKCpOfwV38Rsi);
    max-width: 100%;
    padding-bottom: 0px;
    min-width: 0;
  }
}
.column___7ROb7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.freeBox__nXvJn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__nXvJn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__nXvJn > :global(.__wab_flex-container) > *,
.freeBox__nXvJn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nXvJn > :global(.__wab_flex-container) > picture > img,
.freeBox__nXvJn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2 {
  position: relative;
}
.freeBox__oveh {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oveh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__oveh > :global(.__wab_flex-container) > *,
.freeBox__oveh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oveh > :global(.__wab_flex-container) > picture > img,
.freeBox__oveh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.price__xY7Mc:global(.__wab_instance) {
  position: relative;
}
.text__ykRg7 {
  text-decoration-line: line-through !important;
}
.text__t5N2S {
  text-decoration-line: line-through !important;
}
.freeBox__ptqMu {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ptqMu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ptqMu > :global(.__wab_flex-container) > *,
.freeBox__ptqMu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ptqMu > :global(.__wab_flex-container) > picture > img,
.freeBox__ptqMu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.description {
  height: auto;
}
.freeBox__kqKVd {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__kqKVd > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kqKVd > :global(.__wab_flex-container) > *,
.freeBox__kqKVd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kqKVd > :global(.__wab_flex-container) > picture > img,
.freeBox__kqKVd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3__ylAUc {
  height: auto;
}
.freeBox__deDn {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__deDn > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__deDn > :global(.__wab_flex-container) > *,
.freeBox__deDn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__deDn > :global(.__wab_flex-container) > picture > img,
.freeBox__deDn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.button__uoi2F {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-9M9tusfzd7-yzs);
  cursor: pointer;
  font-size: 14px;
  text-transform: lowercase;
  margin-top: calc(0px + 8px) !important;
  border-radius: 0px;
  padding: 5px 12px;
  border: 1px solid var(--token-9M9tusfzd7-yzs);
}
.button__xidE {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-9M9tusfzd7-yzs);
  cursor: pointer;
  font-size: 14px;
  text-transform: lowercase;
  margin-top: calc(0px + 8px) !important;
  border-radius: 0px;
  padding: 5px 12px;
  border: 1px solid var(--token-9M9tusfzd7-yzs);
}
.button__w8Dw0 {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-9M9tusfzd7-yzs);
  cursor: pointer;
  font-size: 14px;
  text-transform: lowercase;
  margin-top: calc(0px + 8px) !important;
  border-radius: 0px;
  padding: 5px 12px;
  border: 1px solid var(--token-9M9tusfzd7-yzs);
}
.freeBox__kQhNw {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__kQhNw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__kQhNw > :global(.__wab_flex-container) > *,
.freeBox__kQhNw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kQhNw > :global(.__wab_flex-container) > picture > img,
.freeBox__kQhNw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kQhNw {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kQhNw > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kQhNw > :global(.__wab_flex-container) > *,
  .freeBox__kQhNw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kQhNw > :global(.__wab_flex-container) > picture > img,
  .freeBox__kQhNw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox___9NGUp {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___9NGUp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___9NGUp > :global(.__wab_flex-container) > *,
.freeBox___9NGUp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9NGUp > :global(.__wab_flex-container) > picture > img,
.freeBox___9NGUp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3___7Sjq {
  height: auto;
}
.freeBox__n86R9 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__n86R9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__n86R9 > :global(.__wab_flex-container) > *,
.freeBox__n86R9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n86R9 > :global(.__wab_flex-container) > picture > img,
.freeBox__n86R9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.option__lytB1:global(.__wab_instance) {
  position: relative;
}
.option__haAgf:global(.__wab_instance) {
  position: relative;
}
.option__rro2L:global(.__wab_instance) {
  position: relative;
}
.option__f8Uu:global(.__wab_instance) {
  position: relative;
}
.option__oGZiB:global(.__wab_instance) {
  position: relative;
}
.svg__ydTrG {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oPt8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__mrGy9 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__mrGy9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__mrGy9 > :global(.__wab_flex-container) > *,
.freeBox__mrGy9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mrGy9 > :global(.__wab_flex-container) > picture > img,
.freeBox__mrGy9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button___6GB {
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-VYtke39QqPwy_C);
  cursor: pointer;
  font-size: 16px;
  text-transform: none;
  margin-top: 0px;
  transition-property: all;
  transition-duration: 0.5s;
  background: #000000;
  border-radius: 0px;
  padding: 10px 30px;
}
.freeBox__g1SCb {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 85%;
  min-width: auto;
}
.freeBox__g1SCb > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__g1SCb > :global(.__wab_flex-container) > *,
.freeBox__g1SCb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g1SCb > :global(.__wab_flex-container) > picture > img,
.freeBox__g1SCb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__lag0G {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__lag0G > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lag0G > :global(.__wab_flex-container) > *,
.freeBox__lag0G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lag0G > :global(.__wab_flex-container) > picture > img,
.freeBox__lag0G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.description4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.h6__re42Q {
  padding-right: 0px;
}
.option__zWp9W:global(.__wab_instance) {
  position: relative;
}
.text___5JhPh {
  padding-right: 0px;
}
.option__fGuZs:global(.__wab_instance) {
  position: relative;
}
.description3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.option__fI0Se:global(.__wab_instance) {
  position: relative;
}
.text__yvTpQ {
  padding-right: 0px;
}
.option___7Ux7J:global(.__wab_instance) {
  position: relative;
}
.description2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.option___7U5RI:global(.__wab_instance) {
  position: relative;
}
.text__efM08 {
  padding-right: 0px;
}
.option___8CetG:global(.__wab_instance) {
  position: relative;
}
.section__scJ2L {
  flex-direction: column;
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  background: none;
  width: 1117px;
  align-self: center;
  padding: 100px 20px 0px;
}
.section__scJ2L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.section__scJ2L > :global(.__wab_flex-container) > *,
.section__scJ2L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__scJ2L > :global(.__wab_flex-container) > picture > img,
.section__scJ2L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__scJ2L {
    width: 100%;
    padding-top: 60px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__scJ2L > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.sectionglobal_unnamedGlobalGroupOfVariants_unnamedVariant__scJ2Lc8KUj {
  width: 1117.9886474609375px;
}
.sectionglobal_unnamedGlobalGroupOfVariants_unnamedVariant__scJ2Lc8KUj
  > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.sectionglobal_unnamedGlobalGroupOfVariants_unnamedVariant__scJ2Lc8KUj
  > :global(.__wab_flex-container)
  > *,
.sectionglobal_unnamedGlobalGroupOfVariants_unnamedVariant__scJ2Lc8KUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.sectionglobal_unnamedGlobalGroupOfVariants_unnamedVariant__scJ2Lc8KUj
  > :global(.__wab_flex-container)
  > picture
  > img,
.sectionglobal_unnamedGlobalGroupOfVariants_unnamedVariant__scJ2Lc8KUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
.freeBox__yxImk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px 0px 10px;
}
.freeBox__yxImk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__yxImk > :global(.__wab_flex-container) > *,
.freeBox__yxImk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yxImk > :global(.__wab_flex-container) > picture > img,
.freeBox__yxImk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h3__ynBYh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 538px;
  text-align: left;
  font-size: 20px;
  min-width: 0;
}
.freeBox__xyGsr {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__xyGsr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__xyGsr > :global(.__wab_flex-container) > *,
.freeBox__xyGsr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xyGsr > :global(.__wab_flex-container) > picture > img,
.freeBox__xyGsr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.columns__hyyVd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--token-VYtke39QqPwy_C);
  min-width: 0;
  padding: 0px;
  border: 1px solid var(--token-MIZSnSJFRUqa06);
}
.columns__hyyVd > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__hyyVd > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hyyVd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hyyVd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsglobal_unnamedGlobalGroupOfVariants_unnamedVariant__hyyVdC8KUj
  > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columnsglobal_unnamedGlobalGroupOfVariants_unnamedVariant__hyyVdC8KUj
  > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.column__hhExp {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 3rem;
  border-right: 1px solid var(--token-MIZSnSJFRUqa06);
  border-bottom: 0px solid var(--token-MIZSnSJFRUqa06);
}
.column__hhExp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__hhExp > :global(.__wab_flex-container) > *,
.column__hhExp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__hhExp > :global(.__wab_flex-container) > picture > img,
.column__hhExp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__hhExpc8KUj {
  background: none;
  border-right: 1px solid var(--token-MIZSnSJFRUqa06);
}
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__hhExpc8KUj
  > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__hhExpc8KUj
  > :global(.__wab_flex-container)
  > *,
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__hhExpc8KUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__hhExpc8KUj
  > :global(.__wab_flex-container)
  > picture
  > img,
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__hhExpc8KUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 16px;
}
.freeBox__gPbTm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__eqQu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__ulxlT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__mB3Nw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__lwlf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__koa2S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__dFoVr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-MIZSnSJFRUqa06);
  font-weight: 500;
}
.h4__cpGNf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  font-weight: 400;
  min-width: 0;
}
.h4global_unnamedGlobalGroupOfVariants_unnamedVariant__cpGNfC8KUj {
  color: var(--token-MIZSnSJFRUqa06);
}
.h6__i2YG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-weight: 300;
  margin-top: calc(0px + 16px) !important;
  min-width: 0;
}
.h6global_unnamedGlobalGroupOfVariants_unnamedVariant__i2YGc8KUj {
  margin-top: calc(0px + 16px) !important;
}
.freeBox__kpFvD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__xl41X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-kF-bdQceWPKo6j);
  font-weight: 500;
}
.freeBox__lwTjw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__uZb3X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-kF-bdQceWPKo6j);
  font-weight: 400;
}
.column__gd3Vh {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-right-style: solid;
  border-right-width: 0px;
  min-width: 0;
  padding: 3rem;
}
.column__gd3Vh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__gd3Vh > :global(.__wab_flex-container) > *,
.column__gd3Vh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__gd3Vh > :global(.__wab_flex-container) > picture > img,
.column__gd3Vh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gd3Vh {
    border-top: 1px solid var(--token-MIZSnSJFRUqa06);
  }
}
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__gd3VhC8KUj {
  background: none;
  border-right: 1px solid var(--token-MIZSnSJFRUqa06);
}
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__gd3VhC8KUj
  > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__gd3VhC8KUj
  > :global(.__wab_flex-container)
  > *,
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__gd3VhC8KUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__gd3VhC8KUj
  > :global(.__wab_flex-container)
  > picture
  > img,
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__gd3VhC8KUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 16px;
}
.freeBox___4Kri4 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__oeQui {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__qL6VG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__sw7Hv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__e8X9Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg___4JsKx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__eqx8D {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-MIZSnSJFRUqa06);
  font-weight: 500;
}
.h4__t9Bm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  font-weight: 400;
  min-width: 0;
}
.h4global_unnamedGlobalGroupOfVariants_unnamedVariant__t9BmC8KUj {
  color: var(--token-MIZSnSJFRUqa06);
}
.h6__pCcRt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-weight: 300;
  margin-top: calc(0px + 16px) !important;
  min-width: 0;
}
.h6global_unnamedGlobalGroupOfVariants_unnamedVariant__pCcRtC8KUj {
  margin-top: calc(0px + 16px) !important;
}
.freeBox___2LzQl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__vfBnZ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-kF-bdQceWPKo6j);
  font-weight: 500;
}
.freeBox___7QlaG {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__diyuz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-kF-bdQceWPKo6j);
  font-weight: 400;
}
.column__unEnZ {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 3rem;
  border-top: 1px solid var(--token-MIZSnSJFRUqa06);
  border-right: 1px solid var(--token-MIZSnSJFRUqa06);
}
.column__unEnZ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__unEnZ > :global(.__wab_flex-container) > *,
.column__unEnZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__unEnZ > :global(.__wab_flex-container) > picture > img,
.column__unEnZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__unEnZc8KUj {
  background: none;
  border-right: 1px solid var(--token-MIZSnSJFRUqa06);
}
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__unEnZc8KUj
  > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__unEnZc8KUj
  > :global(.__wab_flex-container)
  > *,
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__unEnZc8KUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__unEnZc8KUj
  > :global(.__wab_flex-container)
  > picture
  > img,
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__unEnZc8KUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 16px;
}
.freeBox__qCvDw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__e0CBq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__pDa0H {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__lnm95 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__yeEe6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__fPyGh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__gsu4X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-MIZSnSJFRUqa06);
  font-weight: 500;
}
.h4__uvQ2V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  font-weight: 400;
  min-width: 0;
}
.h4global_unnamedGlobalGroupOfVariants_unnamedVariant__uvQ2VC8KUj {
  color: var(--token-MIZSnSJFRUqa06);
}
.h6__lwYcp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-weight: 300;
  margin-top: calc(0px + 16px) !important;
  min-width: 0;
}
.h6global_unnamedGlobalGroupOfVariants_unnamedVariant__lwYcpC8KUj {
  margin-top: calc(0px + 16px) !important;
}
.freeBox__zRihZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__xCnyX {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-kF-bdQceWPKo6j);
  font-weight: 500;
}
.freeBox__gBefg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__yS4QA {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-kF-bdQceWPKo6j);
  font-weight: 400;
}
.column__mzhGe {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 3rem;
  border-top: 1px solid var(--token-MIZSnSJFRUqa06);
  border-left: 0px solid var(--token-MIZSnSJFRUqa06);
}
.column__mzhGe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__mzhGe > :global(.__wab_flex-container) > *,
.column__mzhGe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__mzhGe > :global(.__wab_flex-container) > picture > img,
.column__mzhGe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__mzhGeC8KUj {
  background: none;
  border-right: 1px solid var(--token-MIZSnSJFRUqa06);
}
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__mzhGeC8KUj
  > :global(.__wab_flex-container) {
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__mzhGeC8KUj
  > :global(.__wab_flex-container)
  > *,
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__mzhGeC8KUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__mzhGeC8KUj
  > :global(.__wab_flex-container)
  > picture
  > img,
.columnglobal_unnamedGlobalGroupOfVariants_unnamedVariant__mzhGeC8KUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 16px;
}
.freeBox__wqVzB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___5Ys9P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__qsodt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__hy67Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__sQHhg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__u9TA5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-MIZSnSJFRUqa06);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.text__vqBk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-MIZSnSJFRUqa06);
  font-weight: 500;
}
.h4___2CC2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  font-weight: 400;
  min-width: 0;
}
.h4global_unnamedGlobalGroupOfVariants_unnamedVariant___2CC2C8KUj {
  color: var(--token-MIZSnSJFRUqa06);
}
.h6__cGtrC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-weight: 300;
  margin-top: calc(0px + 16px) !important;
  min-width: 0;
}
.h6global_unnamedGlobalGroupOfVariants_unnamedVariant__cGtrCc8KUj {
  margin-top: calc(0px + 16px) !important;
}
.freeBox__a3Mvf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text___8UNtd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-kF-bdQceWPKo6j);
  font-weight: 500;
}
.freeBox__pg51 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__el1Nc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 12px;
  color: var(--token-kF-bdQceWPKo6j);
  font-weight: 400;
}
.freeBox___6DTrR {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: auto;
  background: var(--token-VYtke39QqPwy_C);
  min-width: 0;
  padding: 2rem;
  border-right: 1px solid var(--token-MIZSnSJFRUqa06);
  border-bottom: 1px solid var(--token-MIZSnSJFRUqa06);
  border-left: 1px solid var(--token-MIZSnSJFRUqa06);
}
.freeBox___6DTrR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox___6DTrR > :global(.__wab_flex-container) > *,
.freeBox___6DTrR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6DTrR > :global(.__wab_flex-container) > picture > img,
.freeBox___6DTrR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.freeBoxglobal_unnamedGlobalGroupOfVariants_unnamedVariant___6DTrRc8KUj {
  display: none;
}
.link__vSJd0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 538px;
  text-align: center;
  font-size: 14px;
  color: var(--token-MIZSnSJFRUqa06);
  font-weight: 500;
  text-decoration-line: underline;
  min-width: 0;
}
.freeBox__owicI {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1380px;
  background: var(--token-VYtke39QqPwy_C);
  min-width: 0;
  padding: 3rem;
  border-right: 1px solid var(--token-MIZSnSJFRUqa06);
  border-bottom: 1px solid var(--token-MIZSnSJFRUqa06);
  border-left: 1px solid var(--token-MIZSnSJFRUqa06);
}
.freeBox__owicI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__owicI > :global(.__wab_flex-container) > *,
.freeBox__owicI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__owicI > :global(.__wab_flex-container) > picture > img,
.freeBox__owicI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.link__usfSd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 538px;
  text-align: center;
  font-size: 14px;
  color: var(--token-MIZSnSJFRUqa06);
  text-decoration-line: underline;
  min-width: 0;
}
.section__ajpQ4 {
  flex-direction: column;
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  background: none;
  padding: 100px 20px;
}
.section__ajpQ4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.section__ajpQ4 > :global(.__wab_flex-container) > *,
.section__ajpQ4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section__ajpQ4 > :global(.__wab_flex-container) > picture > img,
.section__ajpQ4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__ajpQ4 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.freeBox__uztG {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__uztG > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__uztG > :global(.__wab_flex-container) > *,
.freeBox__uztG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uztG > :global(.__wab_flex-container) > picture > img,
.freeBox__uztG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.text__zwy3D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 635px;
  text-align: center;
  min-width: 0;
}
.h3__bEbn1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 538px;
  text-align: center;
  min-width: 0;
}
.columns__shLIm {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1380px;
  min-width: 0;
  padding: 8px;
}
.columns__shLIm > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 1px);
  width: calc(100% + 1px);
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.columns__shLIm > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 1px) * 3 / 12);
}
.columns__shLIm > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 1px) * 3 / 12);
}
.columns__shLIm > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 1px) * 3 / 12);
}
.columns__shLIm > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 1px) * 3 / 12);
}
.columns__shLIm > :global(.__wab_flex-container) > *,
.columns__shLIm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__shLIm > :global(.__wab_flex-container) > picture > img,
.columns__shLIm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 1px;
  margin-top: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__shLIm {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    max-width: 1380px;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__shLIm > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 1px);
    width: calc(100% + 1px);
    margin-top: calc(0px - 2px);
    height: calc(100% + 2px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__shLIm > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 1px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__shLIm > :global(.__wab_flex-container) > *,
  .columns__shLIm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__shLIm > :global(.__wab_flex-container) > picture > img,
  .columns__shLIm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 1px;
    margin-top: 2px;
  }
}
.column__jWLpy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productMian___7ExUn:global(.__wab_instance) {
  position: relative;
}
.img__cZG {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img__cZG > picture > img {
  object-fit: cover;
}
.img__cZG > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__uMlzO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productMian__pPgq6:global(.__wab_instance) {
  position: relative;
}
.img__s2N2F {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img__s2N2F > picture > img {
  object-fit: cover;
}
.img__s2N2F > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__ucwi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productMian___2OUfl:global(.__wab_instance) {
  position: relative;
}
.img__ruamY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img__ruamY > picture > img {
  object-fit: cover;
}
.img__ruamY > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__ystYw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productMian__yfpfl:global(.__wab_instance) {
  position: relative;
}
.img__tqUkp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img__tqUkp > picture > img {
  object-fit: cover;
}
.img__tqUkp > .__wab_img-spacer > img {
  object-fit: cover;
}
.shopingSection:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .shopingSection:global(.__wab_instance) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.instagram:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .instagram:global(.__wab_instance) {
    position: relative;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
