.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  min-width: 0;
  padding: 117px 20px 103px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 50px);
  height: calc(100% + 50px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.freeBox__pEqAq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 0px;
}
.freeBox__pEqAq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.freeBox__pEqAq > :global(.__wab_flex-container) > *,
.freeBox__pEqAq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pEqAq > :global(.__wab_flex-container) > picture > img,
.freeBox__pEqAq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.freeBox__crV6P {
  flex-direction: column;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  padding: 0px;
}
.freeBox__crV6P > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__crV6P > :global(.__wab_flex-container) > *,
.freeBox__crV6P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__crV6P > :global(.__wab_flex-container) > picture > img,
.freeBox__crV6P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 538px;
  text-align: left;
  min-width: 0;
}
.link {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  align-self: flex-start;
  padding: 0px 0px 11px;
  border-bottom: 1px solid var(--token-9M9tusfzd7-yzs);
}
.link > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 11px);
  width: calc(100% + 11px);
}
.link > :global(.__wab_flex-container) > *,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link > :global(.__wab_flex-container) > picture > img,
.link > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 11px;
}
.text {
  font-size: 15px;
  color: var(--token-9M9tusfzd7-yzs);
  font-weight: 400;
}
.svg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-9M9tusfzd7-yzs);
  flex-shrink: 0;
}
.freeBox__bfrLz {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 8px;
}
.freeBox__bfrLz > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__bfrLz > :global(.__wab_flex-container) > *,
.freeBox__bfrLz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bfrLz > :global(.__wab_flex-container) > picture > img,
.freeBox__bfrLz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bfrLz {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bfrLz > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.freeBox__r4NFx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r4NFx {
    width: 150px;
    padding-right: 1px;
    padding-left: 0px;
    height: 200px;
    flex-shrink: 0;
  }
}
.img__yRqYr {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: var(--token--RiWUkLjMIqGe-);
  min-width: 0;
  flex-shrink: 0;
}
.img__yRqYr > picture > img {
  object-fit: cover;
}
.img__yRqYr > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__yRqYr {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__wnP2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 213px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wnP2 {
    width: 150px;
    height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-column-gap: 0px;
    flex-shrink: 0;
    padding: 8px 1px 8px 0px;
  }
}
.img___9S3K {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-aLVECrA8QvDSKM);
  height: var(--token--RiWUkLjMIqGe-);
  margin-top: 0px;
  flex-shrink: 0;
}
.img___9S3K > picture > img {
  object-fit: cover;
}
.img___9S3K > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___9S3K {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__wzJDi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 66px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wzJDi {
    width: 150px;
    height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-column-gap: 0px;
    flex-shrink: 0;
    padding: 8px 1px 8px 0px;
  }
}
.img__xEaVy {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-aLVECrA8QvDSKM);
  height: var(--token--RiWUkLjMIqGe-);
  flex-shrink: 0;
}
.img__xEaVy > picture > img {
  object-fit: cover;
}
.img__xEaVy > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xEaVy {
    height: 100%;
    min-height: 0;
  }
}
.freeBox___6PUyM {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 204px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6PUyM {
    width: 150px;
    height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-column-gap: 0px;
    flex-shrink: 0;
    padding: 8px 1px 8px 0px;
  }
}
.img__jhaed {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-aLVECrA8QvDSKM);
  height: var(--token--RiWUkLjMIqGe-);
  margin-top: 0px;
  flex-shrink: 0;
}
.img__jhaed > picture > img {
  object-fit: cover;
}
.img__jhaed > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__jhaed {
    height: 100%;
    padding-left: 0px;
    min-height: 0;
  }
}
.freeBox__iItL8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iItL8 {
    width: 150px;
    height: 200px;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-column-gap: 0px;
    flex-shrink: 0;
    padding: 8px 1px 8px 0px;
  }
}
.img__dDfDf {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-aLVECrA8QvDSKM);
  height: var(--token--RiWUkLjMIqGe-);
  flex-shrink: 0;
}
.img__dDfDf > picture > img {
  object-fit: cover;
}
.img__dDfDf > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__dDfDf {
    height: 100%;
    width: auto;
    min-height: 0;
  }
}
