.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #1c1c1e;
}
.freeBox__aJr3D {
  flex-direction: row;
  max-width: none;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.freeBox__aJr3D > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__aJr3D > :global(.__wab_flex-container) > *,
.freeBox__aJr3D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aJr3D > :global(.__wab_flex-container) > picture > img,
.freeBox__aJr3D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__qYlPn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__qXVgO {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__dQk80 {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__rUxxT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button___2LtSl:global(.__wab_instance) {
  position: relative;
}
.svg__pj8Q7 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__zaLiL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value__zRLn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__wi87 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___6UHwj {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__xLvNi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__fmL5T:global(.__wab_instance) {
  position: relative;
}
.svg__vdBmJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__yremb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.value__upHop:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__b12K {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__q2Ja7 {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__nB1G9 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__uxn13:global(.__wab_instance) {
  position: relative;
}
.svg___0UzAs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0AuFy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
