.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.paheHeaderMenuTextDark:global(.__wab_instance) {
  position: relative;
}
.freeBox__trk1C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hDl1G {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
  padding: 8px 8px 125px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hDl1G {
    padding-bottom: 60px;
    padding-top: 40px;
  }
}
.columns__hi6HG {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__hi6HG > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columns__hi6HG > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hi6HG {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hi6HG > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__oSdfq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__oSdfq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.column__oSdfq > :global(.__wab_flex-container) > *,
.column__oSdfq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__oSdfq > :global(.__wab_flex-container) > picture > img,
.column__oSdfq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.freeBox__gXsOx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gXsOx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__gXsOx > :global(.__wab_flex-container) > *,
.freeBox__gXsOx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gXsOx > :global(.__wab_flex-container) > picture > img,
.freeBox__gXsOx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.h4__irbwd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-9M9tusfzd7-yzs);
  min-width: 0;
}
.link__h7HiI {
  position: relative;
}
.freeBox__wwIiH {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__wwIiH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__wwIiH > :global(.__wab_flex-container) > *,
.freeBox__wwIiH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wwIiH > :global(.__wab_flex-container) > picture > img,
.freeBox__wwIiH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.h4__av2Jl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-9M9tusfzd7-yzs);
  min-width: 0;
}
.link___57Gyh {
  position: relative;
}
.freeBox__pL2E {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pL2E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 7px);
  height: calc(100% + 7px);
}
.freeBox__pL2E > :global(.__wab_flex-container) > *,
.freeBox__pL2E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pL2E > :global(.__wab_flex-container) > picture > img,
.freeBox__pL2E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 7px;
}
.h4___0SRe1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-9M9tusfzd7-yzs);
  min-width: 0;
}
.link___3PQti {
  position: relative;
}
.column__iGtuX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__iGtuX {
    padding-bottom: 0px;
  }
}
.freeBox___5Jd9O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__a4LhC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-9M9tusfzd7-yzs);
  min-width: 0;
}
.columns__ci2GP {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1380px;
  min-width: 0;
  padding: 8px;
}
.columns__ci2GP > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 1px);
  width: calc(100% + 1px);
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.columns__ci2GP > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 1px) * 4 / 12);
}
.columns__ci2GP > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 1px) * 4 / 12);
}
.columns__ci2GP > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 1px) * 4 / 12);
}
.columns__ci2GP > :global(.__wab_flex-container) > *,
.columns__ci2GP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ci2GP > :global(.__wab_flex-container) > picture > img,
.columns__ci2GP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 1px;
  margin-top: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ci2GP {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    max-width: 1380px;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ci2GP > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 1px);
    width: calc(100% + 1px);
    margin-top: calc(0px - 2px);
    height: calc(100% + 2px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ci2GP > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 1px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ci2GP > :global(.__wab_flex-container) > *,
  .columns__ci2GP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ci2GP > :global(.__wab_flex-container) > picture > img,
  .columns__ci2GP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 1px;
    margin-top: 2px;
  }
}
.column__o33Iu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productMian__krOe7:global(.__wab_instance) {
  position: relative;
}
.img__mBbQf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img__mBbQf > picture > img {
  object-fit: cover;
}
.img__mBbQf > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__mBbQf {
    width: 100%;
    height: var(--token-aNKCpOfwV38Rsi);
    max-width: 100%;
    padding-bottom: 0px;
    min-width: 0;
  }
}
.column__ycWaz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productMian___5TLfb:global(.__wab_instance) {
  position: relative;
}
.img__u6Vaj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img__u6Vaj > picture > img {
  object-fit: cover;
}
.img__u6Vaj > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__h0ZeC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productMian__d3UkQ:global(.__wab_instance) {
  position: relative;
}
.img__wjKGv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img__wjKGv > picture > img {
  object-fit: cover;
}
.img__wjKGv > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__a1Cad {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__qyuSh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-9M9tusfzd7-yzs);
  min-width: 0;
}
.columns__gdb9T {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1380px;
  min-width: 0;
  padding: 8px;
}
.columns__gdb9T > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 1px);
  width: calc(100% + 1px);
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.columns__gdb9T > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 1px) * 4 / 12);
}
.columns__gdb9T > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 1px) * 4 / 12);
}
.columns__gdb9T > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 1px) * 4 / 12);
}
.columns__gdb9T > :global(.__wab_flex-container) > *,
.columns__gdb9T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__gdb9T > :global(.__wab_flex-container) > picture > img,
.columns__gdb9T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 1px;
  margin-top: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gdb9T {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    max-width: 1380px;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gdb9T > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 1px);
    width: calc(100% + 1px);
    margin-top: calc(0px - 2px);
    height: calc(100% + 2px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gdb9T > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 1px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gdb9T > :global(.__wab_flex-container) > *,
  .columns__gdb9T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__gdb9T > :global(.__wab_flex-container) > picture > img,
  .columns__gdb9T
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 1px;
    margin-top: 2px;
  }
}
.column__uJsy3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productMian__jImPo:global(.__wab_instance) {
  position: relative;
}
.img__rUOlX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img__rUOlX > picture > img {
  object-fit: cover;
}
.img__rUOlX > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__nOzgt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productMian__x72D:global(.__wab_instance) {
  position: relative;
}
.img__y8MZt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img__y8MZt > picture > img {
  object-fit: cover;
}
.img__y8MZt > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__m9Ndq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productMian__zaLzk:global(.__wab_instance) {
  position: relative;
}
.img___4TqYj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img___4TqYj > picture > img {
  object-fit: cover;
}
.img___4TqYj > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___4AalE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h4__yxgK3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-9M9tusfzd7-yzs);
  min-width: 0;
}
.columns__vsuYo {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1380px;
  min-width: 0;
  padding: 8px;
}
.columns__vsuYo > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 1px);
  width: calc(100% + 1px);
  margin-top: calc(0px - 2px);
  height: calc(100% + 2px);
}
.columns__vsuYo > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 1px) * 4 / 12);
}
.columns__vsuYo > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 1px) * 4 / 12);
}
.columns__vsuYo > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 1px) * 4 / 12);
}
.columns__vsuYo > :global(.__wab_flex-container) > *,
.columns__vsuYo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vsuYo > :global(.__wab_flex-container) > picture > img,
.columns__vsuYo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 1px;
  margin-top: 2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vsuYo {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    max-width: 1380px;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vsuYo > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 1px);
    width: calc(100% + 1px);
    margin-top: calc(0px - 2px);
    height: calc(100% + 2px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vsuYo > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 1px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vsuYo > :global(.__wab_flex-container) > *,
  .columns__vsuYo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__vsuYo > :global(.__wab_flex-container) > picture > img,
  .columns__vsuYo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 1px;
    margin-top: 2px;
  }
}
.column__hhjDc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productMian__mfzXh:global(.__wab_instance) {
  position: relative;
}
.img__jnCw8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img__jnCw8 > picture > img {
  object-fit: cover;
}
.img__jnCw8 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__bdFg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productMian___07HXz:global(.__wab_instance) {
  position: relative;
}
.img__ntErl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img__ntErl > picture > img {
  object-fit: cover;
}
.img__ntErl > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__byCsu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__byCsu {
    padding-bottom: 0px;
  }
}
.productMian__kamAo:global(.__wab_instance) {
  position: relative;
}
.img__mrRvw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: var(--token-aNKCpOfwV38Rsi);
  width: 100%;
  min-width: 0;
}
.img__mrRvw > picture > img {
  object-fit: cover;
}
.img__mrRvw > .__wab_img-spacer > img {
  object-fit: cover;
}
.shopingSection:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .shopingSection:global(.__wab_instance) {
    position: relative;
    top: auto;
    left: auto;
  }
}
.instagram:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
